*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

* > li {
  list-style: none;
}

:root {
  --primary-color: #3498db;
  --font-size-h1: clamp(25px, 6vw, 40px); /* h1 font size */
  --font-size-p: clamp(16px, 3.5vw, 24px); /* p font size */
  --font-size-title: clamp(18px, 4vw, 27px); /* p font size */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  gap: 1rem;
}

.flexCol {
  display: flex;
  flex-direction: column;
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowsContainer {
  width: 90%;
  max-width: 1800px;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  display: grid;
  margin-top: 8rem;
  grid-template-columns: 0.6fr 2fr;
}

/* double range input */

/* double range input end */

.sortByContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.consultationFilter {
  margin-top: 1rem;
}

.consultationFilter li,
.sortByFilter li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.consultationFilter label,
.sortByFilter label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.consultationFilter input,
.sortByFilter input {
  margin-right: 8px;
}

.consultationFilter p,
.sortByFilter p {
  font-size: 20px;
  margin: 0;
}

.FilterSide {
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: start;
}

li > h1,
.consultationFilter > h1 {
  font-size: var(--font-size-h1);
}

li > p,
.consultationFilter > p {
  font-size: var(--font-size-p);
}

input {
  width: 16px;
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 3px solid #f5f5f5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  border-radius: 8px;
  justify-content: end;
  min-height: 250px;
}

.card:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.leftSide {
  gap: 1rem;
  display: flex;
}
.imgDiv {
  flex: 1;
}

.imgDiv img {
  width: 85%;
}

.doctorInfo {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.doctorInfo > p {
  font-size: 15px;
}

.middleSide {
  gap: 1rem;
}

.working {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.exprerienceRating {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.fee {
  background-color: #f5f5f5;
  border-radius: 20px;
}

.fee:hover {
  cursor: pointer;
  color: #3264fe;
}

.feeTextSize {
  font-size: var(--font-size-h1);
  font-weight: bold;
}

/* Base Footer Styling */
/* Base Footer Styling */
/* General Footer Styles */
.footer {
  max-width: 100vw;
  min-height: 44vh;
  width: 100vw;
  margin: 0 auto;
  padding: 3rem;
  background-color: black;
}

.footer-content {
  width: 70%;
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 3rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  place-items: start;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Navigation and Titles */
.footer-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: yellowgreen;
  font-weight: bold;
}

.link {
  display: block;
  margin: 0.5rem 0;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: #2563eb;
  text-decoration: underline;
}

.services,
.Company,
.store {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 80%;
  color: white;
  gap: 10px;
}
.services a,
.Company a,
.Legal a {
  font-size: var(--font-size-p);
}

.store h1 {
  font-size: var(--font-size-h1);
}

/* Form Styling */
.form-control {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label-text {
  font-size: 1rem;
  color: #555;
}

.input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #2563eb;
}

.btn {
  background-color: #2563eb;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #1742b0;
}

/* Medium screens and below (tablets) */
@media (max-width: 1024px) {
  :root {
    --font-size-h1: clamp(10px, 5vw, 40px);
  }
  .card {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
  .fee {
    width: 100%;
    padding: 10px;
  }
}

/* Large screens and below (laptops) */
@media (max-width: 1440px) {
  main {
    justify-content: center;
    width: 50%;
  }
  .FilterSide {
    display: none;
  }
  .card {
    width: 80vw;
  }
  .leftSide {
    width: fit-content;
  }
  .imgDiv {
    flex-shrink: 1;
    width: 150px;
  }
  .middleSide {
    padding-left: 45px;
  }
  .feeTextSize {
    font-size: 25px;
  }
  .footer-content {
    place-items: center;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
